<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @address.user_id %>
</p>

<p>
  <b>Line one:</b>
  <%= @address.line_one %>
</p>

<p>
  <b>Line two:</b>
  <%= @address.line_two %>
</p>

<p>
  <b>City:</b>
  <%= @address.city %>
</p>

<p>
  <b>State:</b>
  <%= @address.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @address.zip %>
</p>


<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
