<h1>Listing items</h1>

<table>
  <tr>
    <th>User</th>
    <th>Title</th>
    <th>Description</th>
    <th>Caption</th>
    <th>Value</th>
    <th>Cost day</th>
    <th>Cost week</th>
    <th>Cost month</th>
    <th>Condition</th>
    <th>Active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.user_id %></td>
    <td><%= item.title %></td>
    <td><%= item.description %></td>
    <td><%= item.caption %></td>
    <td><%= item.value %></td>
    <td><%= item.cost_day %></td>
    <td><%= item.cost_week %></td>
    <td><%= item.cost_month %></td>
    <td><%= item.condition %></td>
    <td><%= item.active %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_item_path %>
