    <ul class="nav">
      <li>
        <%= link_to 'home', destroy_user_session_path, :method=>'delete' %>
      </li>
      <li>
        <%= link_to 'list items', destroy_user_session_path, :method=>'delete' %>
      </li>
      <li>
        <%= link_to 'items wanted', destroy_user_session_path, :method=>'delete' %>
      </li>
      <li>
        <%= link_to 'community', destroy_user_session_path, :method=>'delete' %>
      </li>
    </ul>
    <%= render :partial => 'layouts/registration' %>
